<h1>Create a new cocktail</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
