// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-basic {
  background-color: #C44E4A ;
  border: 2px solid #C44E4A;
  a{
  color: white;
  }
}

.submit {
  background-color: #C44E4A ;
  border: 2px solid #C44E4A;
  a{
  color: white;
  }
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 20px;
  h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  }
}

.card {
  margin: 5px;
  box-shadow: 5px 10px rgba(197, 79, 75, 0.2);
  height: 95%;
  h5 {
    font-weight: bold;
    text-decoration: underline;
  }
  .img-card img{
    width: 100%;
  }
  .cocktail-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

.link-red-italics a{
  color: #C44E4A;
  text-decoration: underline;
  font-style: italic;
  font-family: italic;
}

.bottom-border {
  bottom-border: 2px solid black;
}
.center {
  text-align: center;
}

